<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped">
      <tbody>
      {{#jobs_wufoo}}
        {{> job-list-detail}}
      {{/jobs_wufoo}}
      {{#jobs_indeed}}
        {{> job-list-detail}}
      {{/jobs_indeed}}
      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  Some of the listed
  <span id="indeed_at">
    <a href="http://www.indeed.com/">job</a> data is from
    <a href="http://www.indeed.com/" title="Job Search">
      <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0;vertical-align: middle;" alt="Indeed job search">
    </a>
  </span>
</div>
