<div class="row-fluid">
  <div class="span12">
    <a href="/jobs/index.html">&laquo; Back to all jobs</a>
    <br>

    <h1>{{job.jobtitle}}</h1>

    <h2><a href="{{job.url}}">{{job.company}}</a></h2>

    <div class="row-fluid">
      <div class="span12">
        {{job.city}}{{^job.city}}Minneapolis{{/job.city}}, {{job.state}}{{^job.state}}MN{{/job.state}} {{job.zipcode}}
        <span class="job_info_sep">|</span>
        Posted on {{job.created}}{{job.date}}
        <span class="job_info_sep">|</span>
        <span class="duration">{{job.jobtype}}</span>
      </div>
    </div>
    <hr>

    <h2>Job Description</h2>

    <div class="row-fluid">{{{job.teaser}}}</div>
    {{#_models.jobs_indeed}}
    <h4 data-ng-show="job.apply_url"><a href="{{job.apply_url}}">Read More and Apply</a></h4>
    {{#_models.jobs_indeed}}
    <hr>

    <div class="row-fluid">

      <div class="span4 ">
        <h4>Company</h4>
        <span>{{job.company}}</span><br>

        <h4>Job Type</h4>
        <span>{{job.jobtype}}</span><br>

      </div>
      <div class="span4 ">
        <h4>Location</h4>
        <span>{{job.city}}{{^job.city}}Minneapolis{{/job.city}}, {{job.state}}{{^job.state}}MN{{/job.state}} {{job.zipcode}}</span><br/>

        <h4>Job Title</h4>
        <span>{{job.jobtitle}}</span><br>
      </div>
      <div class="span4 ">

        <h4>Compensation</h4>
        <span>{{job.compensation}}</span><br>

        <h4>Job Post Source</h4>
        <span>{{job.source}}</span><br>

      </div>

    </div>

    <hr>
    <br>

  </div>
</div>
