<!doctype html>
<html>
<head>
  <title>Instagram Photos Taken or Liked by Northmpls</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  <style>
    a {text-decoration: none;}
    img {opacity: .7;}
    img:hover {opacity: 1;}
  </style>
</head>

<body>
    {{#hits.hits}}
      <a href="{{{_source.link}}}" target="_blank" title="{{_source.caption.text}}">
        <img src="{{{_source.images.thumbnail.url}}}" alt="{{_source.caption.text}}" height="{{_source.images.thumbnail.height}}" width="{{_source.images.thumbnail.width}}" class=""/>
      </a>
    {{/hits.hits}}
</body>

<!-- ! COMPILED TIME {{ cape_io.timestring }} !-->

</html>
